<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить клиента</title>
</head>
<body>
    <h1>Добавить клиента</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone_number">Телефон:</label>
        <input type="text" id="phone_number" name="phone_number" required><br><br>

        <button type="submit">Добавить</button>
    </form>
    <a href="{% url 'client-list' %}">Назад к списку</a>

{% if form.errors %}
    <ul>
        {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|join:", " }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>
